<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.academy.biz.student.service.StudentVO" alias="student"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/student-mapper.xml" />
		<mapper resource="mapper/school-mapper.xml" />
	</mappers>
</configuration>
