<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="academy.student">

	<!--
		<resultMap type="#modelname" id="YourResultSet">
			<id property="param1" column="columnname1" />
			<result property="param2" column="columnname2" />
			<result property="param3" column="columnname3" />
		</resultMap>	 
	 -->

	<select id="getStudent" parameterType="int" resultType="student">
		SELECT
			* 
		FROM tbl_student
		WHERE columnname1 = #{value}
	</select>

	<select id="getStudentList" resultType="student">
		SELECT * FROM tbl_student ORDER BY seq DESC
	</select>

</mapper>
